
#board {
    /* This ensures your background image still shows behind the pipes */
    background-image: url("./flappybirdbg.png");
    background-size: cover;
    display: block;
}

/* Optional: Smooth cursor for the search bar */
input#wordSearch {
    caret-color: #FACC15;
}